body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
p{
     color: rgb(255, 33, 4);
     margin-bottom: 80px;
     text-align: center;
}
h3{
    color: black;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}
input{
    width: 70%; 
    padding-bottom: 15px; 
    padding-top: 15px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgb(185, 182, 178);
}

.email{
    margin-bottom: 50px;
}
.forgot {
margin-left: 730px;
}
#password{
    margin-left: 200px;
    margin-top: 3px;
}
#email{
    margin-left: 200px;
    margin-top: 3px;
}
label{
    margin-left: 200px;
}
#sign{
    margin-left: 180px;
    margin-top: 100px;
    background-color: orangered;
    color: white;
    text-align: center;
    border: none; 
}
a{
    color: rgb(2, 79, 179);
    text-decoration: none;
}